<mat-toolbar color="primary" layout="fill">
    <div>Angular {{ngVersion}} | Angular Material {{matVersion}}</div>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.lt-sm="column">
      <a href="#"><mat-icon>house</mat-icon>UZNACH casa</a>
      <a href="#"><mat-icon>mail</mat-icon>jose@migemailk</a>
      <a href="#"><mat-icon>phone_callback</mat-icon>23424242-2424-24-24</a>


      </div>
    </mat-card-content>
  </mat-card>
